<!DOCTYPE>
<html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/material.min.css">
		<!-- Latest AngularJS lib -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
		<script data-require="angular-route@*" data-semver="1.2.12" src="http://code.angularjs.org/1.2.12/angular-route.js"></script>
    	<script data-require="angular-touch@*" data-semver="1.2.12" src="http://code.angularjs.org/1.2.12/angular-touch.js"></script>
		<!-- Our Angular Code -->
		<script src="app.js"></script>
		<title>RSVP</title>
	</head>
	<body>
		<nav class="navbar navbar-inverse ">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="navbar.html">
						<img alt="Brand" src="assets/img/brand.png" style="margin-top:-15px">
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="admincp.html">Admin</a></li>
					</ul>
				
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Change Password</a></li>
						<li><a href="#">Login</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		<div class="container">
			<h1>Admin Control Panel</h1>
			<div data-ng-app="myApp" data-ng-controller="myCtrl">
				<h4>Welcome {{ user.username }}</h4>
 				<table class="table">
			      <thead>
			        <tr>
			          <th>Room Id</th>         
			          <th>Room Capacity</th>
			          <th>12 - 1</th>
			          <th>1 - 2</th>
			          <th>2 - 3</th>
			          <th>3 - 4</th>
			          <th>4 - 5</th>
			          <th>5 - 6</th>
			          <th>6 - 7</th>
			          <th>7 - 8</th>
			          <th>8 - 9</th>
			          <th>9 - 10</th>
			          <th>11 - 12</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr>
			        	<td><input class="form-control" ng-model="roomData.id"></td>
						<td><input class="form-control" ng-model="roomData.capacity"></td>
						<td><input type="checkbox" ng-model="roomData.hours[0]"></td>
						<td><input type="checkbox" ng-model="roomData.hours[1]"></td>
						<td><input type="checkbox" ng-model="roomData.hours[2]"></td>
						<td><input type="checkbox" ng-model="roomData.hours[3]"></td>
						<td><input type="checkbox" ng-model="roomData.hours[4]"></td>
						<td><input type="checkbox" ng-model="roomData.hours[5]"></td>
						<td><input type="checkbox" ng-model="roomData.hours[6]"></td>
						<td><input type="checkbox" ng-model="roomData.hours[7]"></td>
						<td><input type="checkbox" ng-model="roomData.hours[8]"></td>
						<td><input type="checkbox" ng-model="roomData.hours[9]"></td>
						<td><input type="checkbox" ng-model="roomData.hours[10]"></td>
		 				<button ng-click="addRoom(roomData.id, roomData.capacity, roomData.hours)"> Reserve Room </button></td>
		        	</tr>
			      </tbody>
			    </table>
			</div>
			<!-- Footer -->
			<footer id="footer">
				<p>&copy; RSVP. All rights reserved.</p>
			</footer>
		</div>
	</body>
</html>

