<div ng-controller="reservation" class="modal fade" id="reserve-block-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{roomSelected}}</h5>
            </div>
            <div class="modal-body">
            	<div class="row">
            		<div class="col-lg-12">
            			<h6>{{roomStatus}}</h6>
            		</div>
            	</div>
            	<div class="row">
            		<div class="col-lg-12">
            			<div class="form-group">
                            <div class="datepicker input-group date shadowed" style="background-color:white" data-provide="datepicker">
                                <input ng-model="adminblockStart" id="dpbStart" type="text" class="datepicker form-control" required>
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                            <script>
                                
                                    $.material.init();
                                $(document).ready(function() {
                                    var date = new Date();
                                    date.setDate(date.getDate());
                                    $('.datepicker').datepicker({
                                        format:'mm/dd/yyyy',
                                        startDate: new Date(),
                                        setDate: new Date(),
                                        autoclose: true
                                    });
                                var date = new Date();
                                var monthNames = [
                                "01", "02", "03",
                                "04", "05", "06", "07",
                                "08", "09", "10",
                                "11", "12"
                                ];
                                var days =["00","01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31"];
                                var day = date.getDate();
                                
                                var monthIndex = date.getMonth();
                                var year = date.getFullYear();

                                var val =  monthNames[monthIndex] + '/' + days[day] + '/' + year;

                                $("#dpbStart").val(val);
                               
                                });
                                
                            </script>
                        	   
						</div>
            		</div>
            	</div>
            	<div class="row">
            		<div class="col-lg-12">
            			<div class="form-group">
                            <div class="datepicker input-group date shadowed" style="background-color:white" data-provide="datepicker">
                                <input ng-model="adminblockStart" id="dpbEnd" type="text" class="datepicker form-control" required>
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                            <script>
                                
                                    $.material.init();
                                $(document).ready(function() {
                                    var date = new Date();
                                    date.setDate(date.getDate());
                                    $('.datepicker').datepicker({
                                        format:'mm/dd/yyyy',
                                        startDate: new Date(),
                                        setDate: new Date(),
                                        autoclose: true
                                    });
                                var date = new Date();
                                var monthNames = [
                                "01", "02", "03",
                                "04", "05", "06", "07",
                                "08", "09", "10",
                                "11", "12"
                                ];
                                var days =["00","01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31"];
                                var day = date.getDate();
                                
                                var monthIndex = date.getMonth();
                                var year = date.getFullYear();

                                var val =  monthNames[monthIndex] + '/' + days[day] + '/' + year;

                                $("#dpbEnd").val(val);
                               
                                });
                                
                            </script>
                        </div>    
            		</div>
            	</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="adminoption()">{{option}}</button>
            </div>
        </div>
    </div>
</div>
