<!DOCTYPE>
<html>
	<head>
        <!-- Latest jQuery-->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        
        <!-- Material Design-->
        <script src="assets/js/material.js"></script>
        <script src="assets/js/ripples.js"></script>
        <link type="text/css" rel="stylesheet" href="assets/css/bootstrap-material-design.css">
        <link type="text/css" rel="stylesheet" href="assets/css/ripples.css">
        <script src="assets/js/tether.min.js"></script>
            
		<!-- Latest compiled and minified CSS -->
 		<meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="assets/css/rsvp.css">
		<link title="compact" type="text/css" rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link type="text/css" rel="stylesheet" href="assets/css/bootstrap-theme.min.css">
		<link type="text/css" rel="stylesheet" href="assets/css/material.min.css">
		<link type="text/css" rel="stylesheet" href="assets/css/font-awesome.min.css">
        <link type="text/css" rel="stylesheet" href="assets/css/bootstrap-datetimepicker-standalone.min.css">
        
        
        <!-- Bootstrap Plugins needed for DateTimePicker-->
        <script src="assets/js/moment.js"></script>
        <script src="assets/js/collapse.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/js/bootstrap-datetimepicker.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/datepicker.js"></script>
        
		<!-- Latest AngularJS lib -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
        
        <!-- ImageMapster -->
        <script src="assets/js/jquery.imagemapster.js"></script>
		<!-- Our Angular Code -->
		<script src="app.js"></script>
        
        <!-- Dropdown-->
        <script src="assets/js/dropdown.js"></script>
        <link type="text/css" rel="stylesheet" href="assets/css/dropdown.css">
        
        <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
		<link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
		<title>RSVP</title>
	</head>
    
	<body ng-app="myApp">
        <div ng-controller="navbar" ng-include src="'navbar_loggedin.html'"></div>
        <div ng-controller="navbar" ng-include src="'navbar_notloggedin.html'"></div>
        <div ng-controller="navbar" ng-include src="'navbar_admin.html'"></div>
		<div ng-controller="reservation" ng-init="confirmLogin()" class="container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <div class="datepicker input-group date" data-provide="datepicker">
                                <input ng-model="date" ng-init="loadRooms()" ng-change="updateRooms()" id="dp" type="text" class="datepicker form-control" required>
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
<!--                            <input type="text" id="datepicker" class="datepicker">-->
                            <script>
                                
                                    $.material.init();
                                $(document).ready(function() {
                                    var date = new Date();
                                    date.setDate(date.getDate());
                                    $('.datepicker').datepicker({
                                        format:'mm/dd/yyyy',
                                        startDate: new Date(),
                                        setDate: new Date(),
                                        autoclose: true
                                    });
                                var date = new Date();
                                var monthNames = [
                                "01", "02", "03",
                                "04", "05", "06", "07",
                                "08", "09", "10",
                                "11", "12"
                                ];
                                var days =["00","01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31"];
                                var day = date.getDate();
                                
                                var monthIndex = date.getMonth();
                                var year = date.getFullYear();

                                var val =  monthNames[monthIndex] + '/' + days[day] + '/' + year;

                                $("#dp").val(val);
                               
                                });
                                
                            </script>
                        </div>    
                    </div>
                    <div class="col-sm-5"></div>
                </div>
                <div class="row" ng-init="disableBlockedRooms()">
                    <div class="col-lg-8 shadowed" style="margin-left:-15px; margin-right:15px">
                        <img alt="HICKS" src="assets/img/HICKS.jpg" usemap="#map_map"  id="map">
                        <map id="map_map" name="map_map">
                            <!--Vertical Rooms-->
                            <area ng-click="openModal($event)" class="room_area" href="#" room="0" id="room0a" shape="rect" coords="68,354, 87,372">
                            <area ng-click="openModal($event)" class="room_area" href="#" room="1" id="room1a" shape="rect" coords="68,336, 87,353">
                            <area ng-click="openModal($event)" class="room_area" href="#" room="2" id="room2a" shape="rect" coords="68,319, 87,335">
                            <area ng-click="openModal($event)" class="room_area" href="#" room="3" id="room3a" shape="rect" coords="68,302, 87,317">
                            <area ng-click="openModal($event)" class="room_area" href="#" room="4" id="room4a" shape="rect" coords="68,284, 87,299">
                            <area ng-click="openModal($event)" class="room_area" href="#" room="5" id="room5a" shape="rect" coords="68,265, 87,281">
                            <area ng-click="openModal($event)" class="room_area" href="#" room="6" id="room6a" shape="rect" coords="68,247, 87,263">
                            <area ng-click="openModal($event)" class="room_area" href="#" room="7" id="room7a" shape="rect" coords="68,230, 87,246">
                            <area ng-click="openModal($event)" class="room_area" href="#" room="8" id="room8a" shape="rect" coords="68,213, 87,227">
                            <area ng-click="openModal($event)" class="room_area" href="#" room="9" id="room9a" shape="rect" coords="68,196, 87,211">
                            <area ng-click="openModal($event)" class="room_area" href="#" room="10" id="room10a" shape="rect" coords="68,177, 87,193">
                            <area ng-click="openModal($event)" class="room_area" href="#" room="11" id="room11a" shape="rect" coords="68,149, 87,174">
                            
                            <!--Horizontal Rooms-->
                            <area ng-click="openModal($event)" class="room_area" href="#" room="12" id="room12a" shape="rect" coords="50,90, 65,108">
                            <area ng-click="openModal($event)" class="room_area" href="#" room="13" id="room13a" shape="rect" coords="68,90, 81,108">
                            <area ng-click="openModal($event)" class="room_area" href="#" room="14" id="room14a" shape="rect" coords="84,90, 98,108">
                            <area ng-click="openModal($event)" class="room_area" href="#" room="15" id="room15a" shape="rect" coords="101,90, 115,108">
                            <area ng-click="openModal($event)" class="room_area" href="#" room="16" id="room16a" shape="rect" coords="118,90, 132,108">
                            <area ng-click="openModal($event)" class="room_area" href="#" room="17" id="room17a" shape="rect" coords="135,90, 148,108">
                            <area ng-click="openModal($event)" class="room_area" href="#" room="18" id="room18a" shape="rect" coords="152,90, 163,108">
                        </map>
                        <script type="text/javascript">
                            
                            var map = $('#map');
                            map.mapster({
                                mapKey: 'room',
                                listKey: 'room',
                                fillColor: 'ffffff',
                                isSelectable: false,
                                showToolTip: true
                            });
                           	map.mapster('set_options', { 
						    areas: [{
						        room: "0",
						        toolTip: "Test"
						        }]
						    });
                        </script>
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </div>
            <div  class="modal fade" id="reserve-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="reserveRoomModal">{{roomSelected}} Reservation</h5>
                            <p>Choose a start time.</p>
                        </div>
                        <div class="modal-body">
                            <reservation-table info="roomsData[roomIndex]" index="roomIndex"></reservation-table>
                        </div>
                        <div class="modal-footer">
                        	<a href="" onclick="alert('Red hours have already been reserved by another student.\n Yellow hours have been reserved, but are shareable');">What do the colored hours mean?</a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
    			<!-- Footer -->
			<footer id="footer">
                <br>
                <p>Selectable Rooms are colored in <img class="shadowed" alt="color_swatch" src="assets/img/color_swatch.png"></p>	
                <p>Permanently highlighted rooms are blocked by the administrator and not available for use by students</p><br>
				<p>&copy; RSVP. All rights reserved.</p>
			</footer>
 
        </div>
	</body>
</html>

